<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<div class="container p-5">
    <h2 class="text-center mb-5">Users</h2>
    <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">Sl.no <i class="fas fa-sort"></i> </th> 
            <th scope="col">username </th>
            <th scope="col">Full name <i class="fas fa-sort"></i></th>
            <th scope="col">Repositories <i class="fas fa-sort"></i></th>
            <th scope="col">Gists <i class="fas fa-sort"></i></th>
            <th scope="col">Followers <i class="fas fa-sort"></i></th>
            <th scope="col">Following <i class="fas fa-sort"></i></th>
          </tr>
        </thead>
        <tbody >
          <tr>
            <th >1</th>
            <td>Mark</td>
            <td>Dezuza</td>
            <td>11</td>
            <td>9</td>
            <td>521</td>
            <td>625</td>
            <td><a href="" class="btn btn-danger btn-sm">View</a></td>
          </tr>
          <tr>
            <th >1</th>
            <td>Mark</td>
            <td>Dezuza</td>
            <td>11</td>
            <td>9</td>
            <td>521</td>
            <td>625</td>
            <td><a href="" class="btn btn-danger btn-sm">View</a></td>
          </tr>
          <tr>
            <th >1</th>
            <td>Mark</td>
            <td>Dezuza</td>
            <td>11</td>
            <td>9</td>
            <td>521</td>
            <td>625</td>
            <td><a href="" class="btn btn-danger btn-sm">View</a></td>
          </tr>
          
          
        </tbody>
        
      </table>
    
</div>