<div class="conatiner p-5">
    <h2 class="text-center">Login</h2>
    <form class="col-md-5 col-12 p-5 ms-auto me-auto">
        <div class="mb-4 ">
          <input type="text" class="form-control col-12 border-curve p-3" id="" placeholder="Fullname..">
          
        </div>
        <div class="mb-4">
          <input type="email" class="form-control col-12 border-curve p-3" placeholder="Email">
        </div>
        <div class="mb-4">
            <input type="number" class="form-control col-12 border-curve p-3" placeholder="Mobile">
          </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-dark p-3 col-12 col-md-6 border-curve" >Submit</button>
        </div>
        
      </form>
</div>

